body {
	margin: 0;
	font-family: Tahoma, sans-serif;
}

p {
	margin: 0;
}

h3 {
	margin: 0;
	margin-bottom: 3px;
	font-size: medium;
}

.mainPageBody {
	background-image: url("/images/main.jpg");
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}

.contactBody {
	background-image: url("/images/contact.jpg");
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}

.menuBody {
	background-image: url("/images/menu.jpg");
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}

.content {
	height: 80vh;
}

.navbar {
	width: 100vw;
	height: 65px;
	background-color: rgba(38, 23, 3, 0.8);
	position: sticky;
	top: 0;
	color: #fafafa;
	text-align: center;
	font-family: Tahoma, sans-serif;
	font-size: large;
	display: grid;
  	grid-template-columns: auto auto auto auto auto auto auto;
	align-items: center;
}

.nav-links {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
}

h1 {
	margin: 0;
	margin-bottom: 3px;
}

a {
	color: #fafafa;
	text-decoration: none;
}

.footer {
	width: 100vw;
	height: 150px;
	background-color: rgba(38, 23, 3, 0.8);
	position: sticky;
	bottom: 0;
	color: #fafafa;
	display: flex;
	align-content: space-evenly;
}

.footer-container {
	text-align: center;
	width: 30vw;
}